.prinsipio {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 80px;
  font-style: italic;
  background: url(2d.png) no-repeat center/cover;
  border: 10px solid rgb(75, 44, 3);
  border-radius: 10px;
  color: rgb(185, 125, 46);
}
body {
  background: url(39.jpg) no-repeat center/cover;
}
